body {
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(52,70,93);
}

.container {
    background-color: rgb(255,242,162);
}

.card {
    padding: 20px;
    background: rgb(255,255,153);
    margin-bottom: 5px;
}

.todo-title {
    font-size: 100px;
    padding: 50px 0;
}

.todo-sub-title {
    font-size: 24px;
    padding: 50px 0;
}

.card-description {
    color: rgb(84, 84, 84);
    font-size: 24px;
}

.card-age {
    color: rgb(148, 148, 148);
}

.card-edit {
    width: 55px;
    height: 55px;
    text-align: center;
    padding-top: 10px;
}

.card-checkbox {
    width: 55px;
    height: 55px;
    border: 1px solid grey;
}

.card-create-button-box {
    padding: 25px 0 50px 0;
}

.card-create-button {
    font-size: 30px;
    font-weight: 700;
    color: rgb(84, 84, 84);
}

.edit-title {
    font-size: 60px;
    padding: 25px 0;
}

.title-field {
    width: 90%;
    height: 36px;
    font-size: 26px;
    justify-content: center;
    background-color: rgb(237, 208, 149);
}

.description-field {
    width: 100%;
    font-size: 24px;
    background-color: rgb(237, 208, 149);
}

.custom-button {
    margin: 5px 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .card-create-button {
        width: 90%;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
    }
}

